

<div id="container-home-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.veryimportantpaws.com/wp-content/uploads/2023/09/A-Comprehensive-Checklist-for-Choosing-the-Right-Dog-Hotel-for-Your-Pet.webp);">
    <div class="banner-top">
      <h1 class="home-page">PawBuddies</h1>
      <h3><em>Get all the cuddles without the commitment!<h3>
      <%= link_to "GET STARTED", animals_path, class: "btn btn-flat" %>
    </div>
  </div>


  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/177294379/photo/black-and-white-cat-paw-over-a-human-hand-in-grayscale.webp?a=1&b=1&s=612x612&w=0&k=20&c=ZR0X5DL2A_jfb4__itXoA7crzMTlaF2GUH0zC0BNals=);">
    <div class="banner-bottom">
      <h1>About Us</h1>
      <p>PawBuddies, launched in 2024, is a pet-lover's dream! It lets you hire pets for a limited time, so you can enjoy cuddles, playtime, or outdoor adventures with adorable furry friends—even if you don't have one of your own. It’s a fun way to experience the joy of pets while giving animals extra love and care. PawBuddies: bringing paws and people together!
      </p>
    </div>
  </div>
</div>
