<%# <img src="https://files.slack.com/files-tmb/T02NE0241-F07R33GQ0RH-580fee7870/1581594_480.png" alt="logo"> %>
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# about petBuddies %>
