<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.veryimportantpaws.com/wp-content/uploads/2023/09/A-Comprehensive-Checklist-for-Choosing-the-Right-Dog-Hotel-for-Your-Pet.webp);">
  <div class="container">
    <h1>PawBuddies</h1>
    <p>Get all the cuddles without the commitment!</p>
    <%= link_to "GET STARTED", animals_path, class: "btn btn-flat" %>
  </div>
</div>
