.container {
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.profile-index {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.btn-logout {
  margin-top: 0;
}

.user-index {
 margin-top: 0;
 margin-bottom: 0;
}

.user-info-card {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: stretch;
}

.user-bookings-card {
  display: flex;
  flex-direction: column;
}

.user-bookings-card ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.animal-cards  {
  background-color: rgb(236, 223, 204);

}

.animal-card {
  background-color: rgb(252, 250, 238);
  padding: 20px;

}

div.picture-container {
  margin: 10px; /* This will add a 10px margin around the div */
}

.btn.btn-secondary {
  width:165px;
  background-color: #DA8359;
  font-size: 15px;
  font-weight: bold;
}

Create a Buddy {
  width:165px;
  background-color: #DA8359;
  font-size: 15px;
  font-weight: bold;
}
