.form-container-add-an-animal {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-add-new-animal {
  font-size: 20px;
  width: 900px;
  height: 700px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(165, 182, 141);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
